.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 95%;
  margin: 0 auto;
}

body {
  color: #ffffff;
  font-size: 2rem;
  background-color: #001b33
}

.header__row {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  font-size: 3vw;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.footer__item {
  display: flex;
  align-items: center;
}

.github {
  display: flex;
  column-gap: 2vw;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
}

.github__image {
  width: 5vw;
  transition: all .5s ease;
}

.github__name {
  transition: all .3s ease;
}

.github:hover .github__name {
  color: #d49202;
  transition: all .3s ease;
}

.github:hover .github__image {
  transform: rotate(360deg);
  transition: all .5s ease;
}

.app-created-date > span {
  color: #d49202;
  font-weight: bold;
}

.rsschool:hover .rsschool__image {
  transform: scale(1.2);
  transition: all .5s ease;
}

.rsschool__image {
  width: 10vw;
  transition: all .5s ease;
}

.slider {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.slider__items {
  width: 500%;
  height: auto;
  display: flex;
}

.slider__item {
  width: 20%;
  transition: .7s;
}

.slider__item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider input {
  display: none;
}

.slider__navigation {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.slider__notification {
  display: flex;
  justify-content: center;
  column-gap: 1%;
}

.slider__buttons {
  width: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1vh;
  padding: 1vh 0;
}

.slider__buttons-item {
  width: 100%;
  height: 100%;
  border: 0.2vh solid #ffffff;
  background-color: #d49202;
  border-radius: 50%;
  transition: all .3s ease;
  cursor: pointer;
}

.slider__notification {
  display: flex;
  flex-direction: column;
  height: 3rem;
  overflow-y: hidden;
  justify-content: flex-start;
}

.slider__notification-items {
  height: 15rem;
  display: flex;
  flex-direction: column;
}

.slider__notification-item {
  height: 3rem;
  transition: .7s;
  padding: 0.5rem 0;
}

#sw1:checked~.slider__items .sw1 {
  margin-left: 0;
}

#sw1:checked~.slider__navigation .slider__notification .slider__notification-items .nti1 {
  margin-top: 0;
}

#sw1:checked~.slider__navigation .slider__buttons .lb1 {
  background-color: #ffffff;
}

#sw2:checked~.slider__items .sw1 {
  margin-left: -20%;
}

#sw2:checked~.slider__navigation .slider__notification .slider__notification-items .nti1 {
  margin-top: -3rem;
}

#sw2:checked~.slider__navigation .slider__buttons .lb2 {
  background-color: #ffffff;
}

#sw3:checked~.slider__items .sw1 {
  margin-left: -40%;
}

#sw3:checked~.slider__navigation .slider__notification .slider__notification-items .nti1 {
  margin-top: -6rem;
}

#sw3:checked~.slider__navigation .slider__buttons .lb3 {
  background-color: #ffffff;
}

#sw4:checked~.slider__items .sw1 {
  margin-left: -60%;
}

#sw4:checked~.slider__navigation .slider__notification .slider__notification-items .nti1 {
  margin-top: -9rem;
}

#sw4:checked~.slider__navigation .slider__buttons .lb4 {
  background-color: #ffffff;
}

#sw5:checked~.slider__items .sw1 {
  margin-left: -80%;
}

#sw5:checked~.slider__navigation .slider__notification .slider__notification-items .nti1 {
  margin-top: -12rem;
}

#sw5:checked~.slider__navigation .slider__buttons .lb5 {
  background-color: #ffffff;
}
